@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$green01 : #DBEDEA;
$green02 : #08896F;
$green03 : #004134;

$gray01 : #636363;
$gray02 : #656565;

$black : #242424;

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

body {
  background-color: #fff;
  color: $black;
  // font-size: 62.5%;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.blind {
  display: none;
}

.wrap {
  width: 1208px;
  height: 100%;
  padding-bottom: 50px;
  margin: 0 auto;
}

h3.title {
  font-size: 24px;
  font-weight: bold;
}

.header {
  .topbar {
    width: 100%;
    height: 70px;

    .logo {

      width: 150px;
      height: 100%;
      margin-left: 36px;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .search {
      position: absolute;
      top: 14px;
      left: 50%;
      transform: translateX(-50%);

      .search_icon {
        background-image: url(../img/search_icon.png);
        width: 42px;
        height: 42px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .input {
        width: 300px;
        height: 42px;
        padding-left: 42px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #FAFAFA;
        color: #b4b4b4;
        font-size: 14px;
        transition: all 1s;

        &:focus {
          border: 1px solid $green02;
        }
      }
    }
  }

  .background_img {
    background-image: url(../img/main_background_img.jpg);
    width: 100%;
    height: 400px;
    // background-size: cover;
    // background-repeat: none;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
    overflow: hidden;

  }
}

.profile_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 36px;
  margin-top: 360px;

  .profile {
    img {
      width: 140px;
      height: 140px;
      flex-shrink: 0;
    }
  }

  .text_area {
    flex-grow: 1;
    padding: 20px 20px 0;

    p.title {
      font-size: 24px;
      font-weight: 500;
    }

    p.text {
      color: $gray01;
    }
  }

  button.review_button {
    flex-shrink: 0;
    width: 200px;
    height: 48px;
    margin-top: 20px;
    border: none;
    background-color: $green03;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.4s;

    &:hover {
      background-color: $green02;
    }

    a {
      color: #fff;
    }
  }
}

.img_slide_wrap {
  padding: 30px 34px;

  .img_slide_scroll {
    overflow-x: hidden;
  }

  .slide_list {
    display: flex;
    padding: 20px 0 30px;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $green01
    }

    &::-webkit-scrollbar-thumb {
      background: $green02
    }

    .slide {
      &:not(:last-of-type) {
        padding-right: 20px;
      }

      &>a {
        display: block;
      }

      .cover {
        width: 232px;
        height: 272px;
        margin-bottom: 10px;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 240px;
          height: 280px;
          transition: all 0.4s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .s_title {
        font-weight: 500;
        padding-left: 10px;
      }

      .new {
        font-size: 12px;
        float: right;
        padding: 2px 5px;
        font-weight: 500;
        color: #fff;
        margin-right: 10px;
        background-color: #004134;
        border-radius: 5px;
      }

      .date,
      .played {
        font-size: 14px;
        font-weight: 500;
        color: $gray02;
        padding-left: 10px;
      }

      .date {
        margin: 5px 0;
      }
    }
  }

  .more_story {
    font-size: 18px;
    font-weight: 500;

    a {
      color: $green03;
      width: 100%;
      margin-right: 10px;
      position: relative;

      &::before {
        content: '';
        width:0;
        height: 1px;
        background-color: $green03;
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: width 0.3s;
      }

      &:hover {
        &::before {
          width: 100%;

        }
      }
    }
  }
}

.board {
  padding: 30px 34px;

  .board_list {
    padding: 10px 0;

    dl {
      padding: 30px 0 30px;
      border-bottom: 1px solid #D9D9D9;

      dt {
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 10px;
        color: $green02;
      }

      dd {
        font-size: 18px;
        font-weight: 500;
        color: $gray01;
      }
    }
  }
}


///////////////////////////////////////평점보기
.review_wrap {
  width: 968px;
  margin: 0 auto;
}

.profile_wrap.review {
  margin-top: 50px;
}