@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #242424;
}

body {
  background-color: #fff;
  color: #242424;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.blind {
  display: none;
}

.wrap {
  width: 1208px;
  height: 100%;
  padding-bottom: 50px;
  margin: 0 auto;
}

h3.title {
  font-size: 24px;
  font-weight: bold;
}

.header .topbar {
  width: 100%;
  height: 70px;
}
.header .topbar .logo {
  width: 150px;
  height: 100%;
  margin-left: 36px;
}
.header .topbar .logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .topbar .search {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
}
.header .topbar .search .search_icon {
  background-image: url(../img/search_icon.png);
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .topbar .search .input {
  width: 300px;
  height: 42px;
  padding-left: 42px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FAFAFA;
  color: #b4b4b4;
  font-size: 14px;
  transition: all 1s;
}
.header .topbar .search .input:focus {
  border: 1px solid #08896F;
}
.header .background_img {
  background-image: url(../img/main_background_img.jpg);
  width: 100%;
  height: 400px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.profile_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 36px;
  margin-top: 360px;
}
.profile_wrap .profile img {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.profile_wrap .text_area {
  flex-grow: 1;
  padding: 20px 20px 0;
}
.profile_wrap .text_area p.title {
  font-size: 24px;
  font-weight: 500;
}
.profile_wrap .text_area p.text {
  color: #636363;
}
.profile_wrap button.review_button {
  flex-shrink: 0;
  width: 200px;
  height: 48px;
  margin-top: 20px;
  border: none;
  background-color: #004134;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.4s;
}
.profile_wrap button.review_button:hover {
  background-color: #08896F;
}
.profile_wrap button.review_button a {
  color: #fff;
}

.img_slide_wrap {
  padding: 30px 34px;
}
.img_slide_wrap .img_slide_scroll {
  overflow-x: hidden;
}
.img_slide_wrap .slide_list {
  display: flex;
  padding: 20px 0 30px;
  margin-bottom: 20px;
  width: 100%;
  overflow-x: scroll;
}
.img_slide_wrap .slide_list::-webkit-scrollbar {
  height: 6px;
}
.img_slide_wrap .slide_list::-webkit-scrollbar-track {
  background: #DBEDEA;
}
.img_slide_wrap .slide_list::-webkit-scrollbar-thumb {
  background: #08896F;
}
.img_slide_wrap .slide_list .slide:not(:last-of-type) {
  padding-right: 20px;
}
.img_slide_wrap .slide_list .slide > a {
  display: block;
}
.img_slide_wrap .slide_list .slide .cover {
  width: 232px;
  height: 272px;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.img_slide_wrap .slide_list .slide .cover img {
  width: 240px;
  height: 280px;
  transition: all 0.4s;
}
.img_slide_wrap .slide_list .slide .cover img:hover {
  transform: scale(1.1);
}
.img_slide_wrap .slide_list .slide .s_title {
  font-weight: 500;
  padding-left: 10px;
}
.img_slide_wrap .slide_list .slide .new {
  font-size: 12px;
  float: right;
  padding: 2px 5px;
  font-weight: 500;
  color: #fff;
  margin-right: 10px;
  background-color: #004134;
  border-radius: 5px;
}
.img_slide_wrap .slide_list .slide .date,
.img_slide_wrap .slide_list .slide .played {
  font-size: 14px;
  font-weight: 500;
  color: #656565;
  padding-left: 10px;
}
.img_slide_wrap .slide_list .slide .date {
  margin: 5px 0;
}
.img_slide_wrap .more_story {
  font-size: 18px;
  font-weight: 500;
}
.img_slide_wrap .more_story a {
  color: #004134;
  width: 100%;
  margin-right: 10px;
  position: relative;
}
.img_slide_wrap .more_story a::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #004134;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: width 0.3s;
}
.img_slide_wrap .more_story a:hover::before {
  width: 100%;
}

.board {
  padding: 30px 34px;
}
.board .board_list {
  padding: 10px 0;
}
.board .board_list dl {
  padding: 30px 0 30px;
  border-bottom: 1px solid #D9D9D9;
}
.board .board_list dl dt {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 10px;
  color: #08896F;
}
.board .board_list dl dd {
  font-size: 18px;
  font-weight: 500;
  color: #636363;
}

.review_wrap {
  width: 968px;
  margin: 0 auto;
}

.profile_wrap.review {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */